<html>
<head> 
<title> ToDo App </title>
 <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
 <link href="/styles.css" rel="stylesheet">
</head>

<body>
<div class="container">
<h2 class="grad" > A Simple ToDo List App </h2>

<!-- <form action ="/addtask" method="POST">

<input type="text" name="newtask" placeholder="add new task">
<button> Add Task </button> -->



<!-- addtask is for adding the new task in todo list -->
<form class="form-inline" action ="/addtask" method="POST">
    
    <div class="form-group mx-sm-3 mb-2">
       
      
      <input type="text" class="form-control"  placeholder="add new task" name="newtask">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Add Task</button>

</form>


<!-- This shows about added task -->
<h2 class="grad"> Added Task </h2>
<form action="/removetask" method="post">
<ol>
<% for( var i = 0; i < task.length; i++){ %>
    <li class="list-group-item list-group-item-warning" ><input type="checkbox" name="check" value="<%= task[i] %>" /> <%= task[i] %> </li>
<% } %>
</ol>

<button class="btn btn-danger" type="submit" id="top"> Remove </button>
</form>

<h2> Completed task </h2>
<ol>
 <% for(var i = 0; i < complete.length; i++){ %>
    <li class="list-group-item list-group-item-success"><%= complete[i] %> </li>
<% } %>
</ol>
</div>

</body>
</html>